In [1]:
#Import necessary libraries

import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [62]:
#Import cleaned Dataset

data = pd.read_csv("download.csv")

In [63]:
country = {}
j=0
for i in data.countriesAndTerritories:
    if(not i in country.keys()):
        country[i] = j
        j=j+1
print(country)

{'Afghanistan': 0, 'Albania': 1, 'Algeria': 2, 'Andorra': 3, 'Angola': 4, 'Anguilla': 5, 'Antigua_and_Barbuda': 6, 'Argentina': 7, 'Armenia': 8, 'Aruba': 9, 'Australia': 10, 'Austria': 11, 'Azerbaijan': 12, 'Bahamas': 13, 'Bahrain': 14, 'Bangladesh': 15, 'Barbados': 16, 'Belarus': 17, 'Belgium': 18, 'Belize': 19, 'Benin': 20, 'Bermuda': 21, 'Bhutan': 22, 'Bolivia': 23, 'Bonaire, Saint Eustatius and Saba': 24, 'Bosnia_and_Herzegovina': 25, 'Botswana': 26, 'Brazil': 27, 'British_Virgin_Islands': 28, 'Brunei_Darussalam': 29, 'Bulgaria': 30, 'Burkina_Faso': 31, 'Burundi': 32, 'Cambodia': 33, 'Cameroon': 34, 'Canada': 35, 'Cape_Verde': 36, 'Cases_on_an_international_conveyance_Japan': 37, 'Cayman_Islands': 38, 'Central_African_Republic': 39, 'Chad': 40, 'Chile': 41, 'China': 42, 'Colombia': 43, 'Comoros': 44, 'Congo': 45, 'Costa_Rica': 46, 'Cote_dIvoire': 47, 'Croatia': 48, 'Cuba': 49, 'Cura√ßao': 50, 'Cyprus': 51, 'Czechia': 52, 'Democratic_Republic_of_the_Congo': 53, 'Denmark': 54, 'Djibouti': 55, 'Dominica': 56, 'Dominican_Republic': 57, 'Ecuador': 58, 'Egypt': 59, 'El_Salvador': 60, 'Equatorial_Guinea': 61, 'Eritrea': 62, 'Estonia': 63, 'Eswatini': 64, 'Ethiopia': 65, 'Falkland_Islands_(Malvinas)': 66, 'Faroe_Islands': 67, 'Fiji': 68, 'Finland': 69, 'France': 70, 'French_Polynesia': 71, 'Gabon': 72, 'Gambia': 73, 'Georgia': 74, 'Germany': 75, 'Ghana': 76, 'Gibraltar': 77, 'Greece': 78, 'Greenland': 79, 'Grenada': 80, 'Guam': 81, 'Guatemala': 82, 'Guernsey': 83, 'Guinea': 84, 'Guinea_Bissau': 85, 'Guyana': 86, 'Haiti': 87, 'Holy_See': 88, 'Honduras': 89, 'Hungary': 90, 'Iceland': 91, 'India': 92, 'Indonesia': 93, 'Iran': 94, 'Iraq': 95, 'Ireland': 96, 'Isle_of_Man': 97, 'Israel': 98, 'Italy': 99, 'Jamaica': 100, 'Japan': 101, 'Jersey': 102, 'Jordan': 103, 'Kazakhstan': 104, 'Kenya': 105, 'Kosovo': 106, 'Kuwait': 107, 'Kyrgyzstan': 108, 'Laos': 109, 'Latvia': 110, 'Lebanon': 111, 'Lesotho': 112, 'Liberia': 113, 'Libya': 114, 'Liechtenstein': 115, 'Lithuania': 116, 'Luxembourg': 117, 'Madagascar': 118, 'Malawi': 119, 'Malaysia': 120, 'Maldives': 121, 'Mali': 122, 'Malta': 123, 'Mauritania': 124, 'Mauritius': 125, 'Mexico': 126, 'Moldova': 127, 'Monaco': 128, 'Mongolia': 129, 'Montenegro': 130, 'Montserrat': 131, 'Morocco': 132, 'Mozambique': 133, 'Myanmar': 134, 'Namibia': 135, 'Nepal': 136, 'Netherlands': 137, 'New_Caledonia': 138, 'New_Zealand': 139, 'Nicaragua': 140, 'Niger': 141, 'Nigeria': 142, 'North_Macedonia': 143, 'Northern_Mariana_Islands': 144, 'Norway': 145, 'Oman': 146, 'Pakistan': 147, 'Palestine': 148, 'Panama': 149, 'Papua_New_Guinea': 150, 'Paraguay': 151, 'Peru': 152, 'Philippines': 153, 'Poland': 154, 'Portugal': 155, 'Puerto_Rico': 156, 'Qatar': 157, 'Romania': 158, 'Russia': 159, 'Rwanda': 160, 'Saint_Kitts_and_Nevis': 161, 'Saint_Lucia': 162, 'Saint_Vincent_and_the_Grenadines': 163, 'San_Marino': 164, 'Sao_Tome_and_Principe': 165, 'Saudi_Arabia': 166, 'Senegal': 167, 'Serbia': 168, 'Seychelles': 169, 'Sierra_Leone': 170, 'Singapore': 171, 'Sint_Maarten': 172, 'Slovakia': 173, 'Slovenia': 174, 'Somalia': 175, 'South_Africa': 176, 'South_Korea': 177, 'South_Sudan': 178, 'Spain': 179, 'Sri_Lanka': 180, 'Sudan': 181, 'Suriname': 182, 'Sweden': 183, 'Switzerland': 184, 'Syria': 185, 'Taiwan': 186, 'Tajikistan': 187, 'Thailand': 188, 'Timor_Leste': 189, 'Togo': 190, 'Trinidad_and_Tobago': 191, 'Tunisia': 192, 'Turkey': 193, 'Turks_and_Caicos_islands': 194, 'Uganda': 195, 'Ukraine': 196, 'United_Arab_Emirates': 197, 'United_Kingdom': 198, 'United_Republic_of_Tanzania': 199, 'United_States_of_America': 200, 'United_States_Virgin_Islands': 201, 'Uruguay': 202, 'Uzbekistan': 203, 'Venezuela': 204, 'Vietnam': 205, 'Western_Sahara': 206, 'Yemen': 207, 'Zambia': 208, 'Zimbabwe': 209}

In [64]:
for i in range(len(data.countriesAndTerritories)):
    data.countriesAndTerritories[i] = country[data.countriesAndTerritories[i]]

C:\Users\akash\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,21-05-2020,21,5,2020,492,9,0,AF,AFG,37172386.0,Asia
1,20-05-2020,20,5,2020,581,5,0,AF,AFG,37172386.0,Asia
2,19-05-2020,19,5,2020,408,4,0,AF,AFG,37172386.0,Asia
3,18-05-2020,18,5,2020,262,1,0,AF,AFG,37172386.0,Asia
4,17-05-2020,17,5,2020,0,0,0,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
18407,25-03-2020,25,3,2020,0,0,209,ZW,ZWE,14439018.0,Africa
18408,24-03-2020,24,3,2020,0,1,209,ZW,ZWE,14439018.0,Africa
18409,23-03-2020,23,3,2020,0,0,209,ZW,ZWE,14439018.0,Africa
18410,22-03-2020,22,3,2020,1,0,209,ZW,ZWE,14439018.0,Africa
18411,21-03-2020,21,3,2020,1,0,209,ZW,ZWE,14439018.0,Africa

In [66]:
datax = data.drop(labels=['dateRep','year','deaths','popData2018','geoId','countryterritoryCode','continentExp'],axis=1)

In [67]:
for i in range(len(datax.day)):
    datax.day[i] = datax.day[i] + 30 * datax.month[i]

C:\Users\akash\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [68]:
datax = datax.drop(labels=['month'],axis=1)

In [69]:
print(datax)

       day  cases countriesAndTerritories
0      171    492                       0
1      170    581                       0
2      169    408                       0
3      168    262                       0
4      167      0                       0
...    ...    ...                     ...
18407  115      0                     209
18408  114      0                     209
18409  113      0                     209
18410  112      1                     209
18411  111      1                     209

[18412 rows x 3 columns]

In [70]:
X_train,X_test,y_train,y_test = train_test_split(datax, data.deaths,train_size=0.7)

In [71]:
print(X_train)

       day  cases countriesAndTerritories
6406   109      0                      73
18373  148      1                     209
13921  113     13                     157
11646  162     12                     133
12129  140      0                     138
...    ...    ...                     ...
10085  128      1                     114
13051  138    456                     147
1276    39      0                      12
6109   129   3881                      70
6978   157      0                      79

[12888 rows x 3 columns]

In [72]:
rf = RandomForestRegressor(n_estimators=100, random_state=0)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [73]:
a = rf.score(X_test,y_test)
print(a)

0.8230791489959782

In [74]:
X_train

       day  cases countriesAndTerritories
6406   109      0                      73
18373  148      1                     209
13921  113     13                     157
11646  162     12                     133
12129  140      0                     138
...    ...    ...                     ...
10085  128      1                     114
13051  138    456                     147
1276    39      0                      12
6109   129   3881                      70
6978   157      0                      79

[12888 rows x 3 columns]

In [75]:
import pickle

In [76]:
pickle.dump(rf,open('rf.pkl','wb'))
pickle.dump(country,open('country.pkl','wb'))